<!-- Barra de navegación fija en la parte superior -->
<nav
    class="sticky top-0 z-[1030] flex  justify-between items-stretch bg-primary-own border-b border-gray-300 px-12 h-[60px]">
    <!-- Lado izquierdo: logo y botón de inicio -->
    <div class="flex items-center gap-4">
        <a [routerLink]="dashboardRoutesConfig.base.url">
            <img src="img/favicon.png" alt="Logo" class="w-[30px] max-h-[35px] block cursor-pointer" />
        </a>
        <a [routerLink]="dashboardRoutesConfig.base.url"
            class="bg-secondary-btn-own text-white text-base px-5 h-full flex items-center">Home</a>
    </div>

    <!-- Lado derecho: acciones de autenticación -->
    <app-auth-button></app-auth-button>
</nav>