<footer
    class="bg-primary-own border-t border-highlight-own text-white flex justify-between items-center gap-8 px-[5vw] py-8 flex-wrap min-h-[150px]">
    <!-- Logo ULEAM -->
    <div class="w-[180px] max-w-full">
        <img src="img/logo_uleam_full.png" alt="Logo de la ULEAM" class="block w-full h-auto" />
    </div>

    <!-- Información de contacto -->
    <div class="max-w-[600px]">
        <h2 class="mb-2 text-base sm:text-xl  font-bold">
            Av. Circunvalación, Vía San Mateo</h2>
        <a href="mailto:incidencias.diit@uleam.edu.ec" class="text-white leading-[1.4]">
            <strong class="text-secondary-btn">Correo electrónico:</strong>
            incidencias.diit&#64;uleam.edu.ec
        </a>
    </div>
</footer>