<div class="w-full max-w-[500px] mx-auto my-[5vh] p-8 bg-white shadow-xl rounded-xl bg-third-color-own">
    <!-- Encabezado con logo -->
    <div class="text-center font-bold w-full p-2">
        <img src="img/logo_uleam_full_color.png" alt="Logo Uleam" class="w-[80%] mx-auto">
    </div>

    <!-- Formulario de login -->
    <form method="post" [formGroup]="formGroup()" class="p-2" (ngSubmit)="onSubmit()">
        <!-- Mensaje de error -->
        @if (error_message()) {
        <app-error-message-box [error_message]="error_message()"></app-error-message-box>
        }

        <div class="w-full ">
            @for (field of inputFields(); track $index) {
            <div class="mb-5 text-left relative">
                <app-form-input [field]="field"></app-form-input>
            </div>
            }
        </div>

        <!-- Botón de envío -->
        <div class="text-left">
            <app-button [btnLabel]="btnSubmitLabel()"></app-button>

        </div>
    </form>
</div>